body {				/* Box design */
	background-color:#FFFFFF;
	font-family: Bahnschrift;
	color:#233142;
	margin:0px;
}
#container {
	background-color:#f2f2f2;
	border: 1px solid #4A270F;
	width: auto;
	margin-right: auto;
	margin-left: auto;
}

/* Navigation bar styling */
#topnav {
	overflow: hidden;
	background-color: #233142;
}
/* Navigation links styling */
#topnav a {
	float: left;
	display:block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
/* Color swap on hover */
#topnav a:hover {
	background-color: #e3e3e3;
	color: #233142;
}

/* Dropdown feature to avoid nav-bar clutter */
#dropdown {
  	float: left;
  	overflow: hidden;
}

#dropdown #dropbtn {
  	font-size: 16px;  
  	border: none;
  	outline: none;
  	color: white;
  	padding: 14px 16px;
  	background-color: inherit;
  	font-family: inherit;
  	margin: 0;
}

#dropdown:hover {
  	background-color: white;
}

#dropdown-content {
  	display: none;
  	position: absolute;
  	background-color: #f9f9f9;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;	/* To show infront and overlap other element */
}

#dropdown-content a {
  	float: none;
  	color: black;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
  	text-align: left;
}

#dropdown-content a:hover {
  	background-color: #e3e3e3;
}

#dropdown:hover #dropdown-content {		/* To show the dropdown box */
  	display: block;
}
/* Navigation bar's Search Styling */
#searchnav {
  	float: right;
  	padding: 6px;
  	border: none;
  	margin-top: 2px;
  	margin-right: 16px;
  	font-size: 17px;
}
#header {
	background-image:url('hibiscus.png');
	height: 250px; /* 300-25=275 */;
	font-weight: bold;
	padding-top: 25px;
	padding-left: 24px;
	padding-right: 24px;
	color: #FFFFFF;
	white-space: normal;
}
#transbox {
	background-color: #233142;
	opacity: 0.8;
	text-align: center;
}

#transbox a {
	padding-top: 12px;
	color: #FFFFFF;
}
#subtitle {
 	background-color:#455D7A;
	text-align:center;
	opacity: 0.9;
}
#subtitle a {
	color: #FFFFFF;
}

#content {
  	background-color: #E3E3E3;
  	padding: 30px;
}

#content-area {
	padding: 32px;
}

#page-title {
	font-size: 32px;
	font-weight:bold;
	text-decoration: underline;
}
#page-content {
	text-align:justify;
}

/* Style the footer */
#footer {
	border-top: solid 10px #455D7A;
	font-size: 12px;
	background-image:url('footer.png');
	height: 32px; /* 48-16=32 */
	text-align: center;
	padding-top: 16px;
	color:#f5f5f5;
}
