/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f2f2f2;
}

/* Slides */
.mySlides {
  display: none;
  padding: 60px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* next button to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover */
.prev:hover, .next:hover {
  background-color: #F95959;
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #455D7A;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:#f2f2f2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
	background-color:#F95959;
}

/* style the quotes */
q {
	font-style: italic;
	font-size:25px;
}

/* Color for the author */
.author {
	color: #F95959;
}